body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0072bb;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 80px;
}

.title h1 {
    margin: 0;
    font-size: 24px;
}

.title h2 {
    margin: 0;
    font-size: 18px;
}

main {
    padding: 20px;
}

footer {
    background-color: #0072bb;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}


table {
    width: 100%; /* Utilisez toute la largeur disponible */
    border-collapse: collapse; /* Fusionner les bordures des cellules */
}

th, td {
    padding: 8px; /* Ajouter un remplissage pour un meilleur espacement */
    text-align: left; /* Aligner le texte à gauche */
    border: 1px solid #dddddd; /* Ajouter des bordures aux cellules */
}



