<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>

     <link rel="stylesheet" th:href="@{/css/style.css}">

 </head>
 <body>
 <header>
     <div class="logo">
         <img th:src="@{/images/logo.png}" alt="Logo de l'Université de Rouen">
     </div>
     <div class="title">
         <h1>CVServiceREST</h1>
         <h2>Version 1.0</h2>
     </div>
 </header>
 <main>
     <h2>Pour plus d'information :</h2>
     <a th:href="@{/help}">Accéder à la page Help</a>

     <h2>Membres de l'équipe :</h2>
     <ul>
         <li>ABBAS Melissa</li>
         <li>BOURIAHI Fatima</li>
     </ul>
 </main>
 <footer>
     <p>&copy; 2024 Université de Rouen</p>
 </footer>
 </body>
 </html>
